<!DOCTYPE html>
<html lang="en">

<style>
    #team {
        padding: 60px 20px;
        margin-top: 100px;
        background: #fff;
        border-radius: 12px;
    }
</style>


<%= render 'shared/head' %>

<body id="page-top">

    <!-- Navigation-->
    <%= render 'shared/navbar2' %>

    <%= render 'shared/team' %>

    <%= render 'shared/footer' %>

    <%= render 'shared/scripts' %>
</body>

</html>